html {
    --colContenido: black;
    --colContenidoFondo: #c7a4ff
    ;
    --colPrimario: #c7a4ff ;
    --colPrimarioFondo:#007ac1;
    --colActive: #4646462c;
    --colCampoSinFoco: gray;
    --colCampoFoco: # ffb2ff;
    --colError: #b00020;
    --colCampoFondo: # ffb2ff ;
    --colCampoFondoHover: #000000;
    --colCampoFondoFocus: # ea80fc;
    --colCheckOn: #bd02ad;
    --colCheckFondo: #bdbdbd;
    /* Los 2 primeros fonts son para
     * apple y "Roboto" es para
     * Android. */
    --fontFamily: sans-serif;
    color: var(--colContenido);
    font-family: var(--fontFamily);
    background-color:
      var(--colContenidoFondo);
  }
  